In [1]:
import pandas as pd
import pandas as pd
import geopandas as gp
import fiona
import shapely
from fiona.crs import from_epsg
import numpy as np
import choroplethNYC as cp
import matplotlib.pylab as plt

%matplotlib inline

In [2]:
#import precinct shapefile

url = 'https://data.cityofnewyork.us/api/geospatial/78dh-3ptz?method=export&format=Shapefile'
precinct = gp.GeoDataFrame.from_file(url)
precinct.head(2)

,precinct,shape_area,shape_leng,geometry
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...

## ADJUSTED DAYTIME POPULATION MODEL

In [4]:
#import adjusted daytime population for 2013 (previously cleaned & aggregated)

day_pop = pd.read_csv('adjusted_day_MODEL_RESULTS.csv')
day_pop.head(3)

,Unnamed: 0,precinct,adjusted_day_precinct,day_proportion,MODEL_allocation
0,0,1.0,338683.341967,0.032632,653.0
1,1,5.0,117698.357234,0.011340,227.0
2,2,6.0,101853.963767,0.009814,196.0

In [5]:
day_pop = precinct.merge(day_pop, on='precinct')
day_pop.head()

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,adjusted_day_precinct,day_proportion,MODEL_allocation
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,338683.341967,0.032632,653.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,117698.357234,0.011340,227.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,101853.963767,0.009814,196.0
3,71.0,4.533179e+07,29978.094261,POLYGON ((-73.92854313809303 40.66457328584737...,58,108992.926986,0.010502,210.0
4,72.0,1.046213e+08,87968.194520,POLYGON ((-73.99840899113158 40.67186872303234...,59,169577.737348,0.016339,327.0

In [23]:
#add PAM layer and PAM math 
#add historically over-policed binary

In [ ]:
#export

### GENTRIFICATION MODEL

In [11]:
gentrification = pd.read_csv('gentrification_model_results.csv')
gentrification.head(3)

,Unnamed: 0,precinct,city_14,gent_rate,total,model_rate,MODEL_allocation
0,0,1.0,0.007388,0.010913,0.018301,0.009171,183.0
1,1,5.0,0.022186,0.002592,0.024779,0.012417,248.0
2,2,6.0,0.009580,0.013990,0.023571,0.011811,236.0

In [12]:
gentrification = precinct.merge(gentrification, on='precinct')
gentrification.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,city_14,gent_rate,total,model_rate,MODEL_allocation
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,0.007388,0.010913,0.018301,0.009171,183.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,0.022186,0.002592,0.024779,0.012417,248.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,0.009580,0.013990,0.023571,0.011811,236.0

In [ ]:
#MATH

In [ ]:
#export

## VIOLENT CRIME MODEL

In [9]:
violent = pd.read_csv('violent_crime_MODEL.csv')
violent.head(3)

,Unnamed: 0,ARREST_PRECINCT,violent_arrests_09,violent_arrests_14,%change,MODEL_allocation_14
0,0,1,173,130,-0.248555,81.0
1,1,5,523,399,-0.237094,248.0
2,2,6,338,274,-0.189349,170.0

In [10]:
violent = precinct.merge(violent, left_on='precinct', right_on='ARREST_PRECINCT')
violent.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,ARREST_PRECINCT,violent_arrests_09,violent_arrests_14,%change,MODEL_allocation_14
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,1,173,130,-0.248555,81.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,5,523,399,-0.237094,248.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,6,338,274,-0.189349,170.0

## LAND AREA MODEL

In [13]:
land_area = pd.read_csv('area_model_results.csv')
land_area.head(3)

   Unnamed: 0  precinct  sq-km-calc
0           0       1.0  112.318729
1           1       5.0   42.960712
2           2       6.0   52.510118

In [14]:
land_area = precinct.merge(land_area, on='precinct')
land_area.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,sq-km-calc
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,112.318729
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,42.960712
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,52.510118

In [ ]:
#math
#haven't computed allocation!!!

In [ ]:
#export

## CALLS FOR SERVICE AND VIOLENT CRIME

In [15]:
cfs_vio = pd.read_csv('model_cfs_and_violent_crime.csv')
cfs_vio.head(3)

,Unnamed: 0,Precinct,total_calls_for_service,total_violent,total,share,officers
0,0,1,163950,165,164115,0.019832,397.0
1,1,5,80676,215,80891,0.009775,195.0
2,2,6,61731,295,62026,0.007495,150.0

In [16]:
cfs_vio = precinct.merge(cfs_vio, left_on='precinct', right_on='Precinct')
cfs_vio.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,Precinct,total_calls_for_service,total_violent,total,share,officers
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,1,163950,165,164115,0.019832,397.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,5,80676,215,80891,0.009775,195.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,6,61731,295,62026,0.007495,150.0

In [ ]:
#math

In [ ]:
#export

## ARRESTS AND VIOLATIONS

In [17]:
arrests_violations = pd.read_csv('model_arrests_and_violations.csv')
arrests_violations.head(3)

,Unnamed: 0,ADDR_PCT_CD,2017 VIOLATION,ARREST_PRECINCT,ARREST_KEY,total,share,officers
0,0,1,716.0,1,2792,3508.0,0.011205,224.0
1,1,10,446.0,10,1954,2400.0,0.007666,153.0
2,2,100,381.0,100,1552,1933.0,0.006174,123.0

In [20]:
arrests_violations = precinct.merge(arrests_violations, left_on='precinct', 
                                    right_on='ARREST_PRECINCT')
arrests_violations.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,ADDR_PCT_CD,2017 VIOLATION,ARREST_PRECINCT,ARREST_KEY,total,share,officers
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,1,716.0,1,2792,3508.0,0.011205,224.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,48,5,444.0,5,4570,5014.0,0.016015,320.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,51,6,389.0,6,2722,3111.0,0.009937,199.0

## CRASHES INJURIES DEATHS

In [21]:
crashes = pd.read_csv('model_crashes_injuries_deaths.csv')
crashes.head(3)

   Unnamed: 0  precinct  injuries2018  deaths2018  total     share  officers
0           0       1.0           596           2    598  0.010432     209.0
1           1       5.0           326           4    330  0.005757     115.0
2           2       6.0           242           1    243  0.004239      85.0

In [22]:
crashes= precinct.merge(crashes, on='precinct')
crashes.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,injuries2018,deaths2018,total,share,officers
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,596,2,598,0.010432,209.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,326,4,330,0.005757,115.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,242,1,243,0.004239,85.0

In [ ]:
#math

In [ ]:
#export

## Christine

In [ ]:
#math

In [ ]:
#export

## Christine

In [ ]:
#math

In [ ]:
#export

## Christine

In [ ]:
#math

In [ ]:
#export