In [43]:
import os
import pandas as pd
import numpy as np

In [44]:
#!curl -O https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip

In [45]:
#!unzip nyc_pluto_18v1.zip

In [46]:
bk = pd.read_csv('PLUTO_for_WEB/BK_18v1.csv')
bx = pd.read_csv('PLUTO_for_WEB/BX_18v1.csv')
mn = pd.read_csv('PLUTO_for_WEB/MN_18v1.csv')
qn = pd.read_csv('PLUTO_for_WEB/QN_18v1.csv')
si = pd.read_csv('PLUTO_for_WEB/SI_18v1.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19,20,22,23,64,65,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19,20,22,23,24,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
frames = [bk, bx, mn, qn, si]
nycpluto = pd.concat(frames)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [48]:
nycpluto.head()

,APPBBL,APPDate,Address,AreaSource,AssessLand,AssessTot,BBL,BldgArea,BldgClass,BldgDepth,...,YearAlter1,YearAlter2,YearBuilt,ZMCode,ZipCode,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4,ZoneMap
0,3.000010e+09,11/26/2013,JOHN STREET,4,1127700,1127700,3000010001,0,V1,0.0,...,0,0,0,NaN,11201.0,M3-1,M1-4/R8A,NaN,NaN,12d
1,0.000000e+00,NaN,10 JAY STREET,2,834300,13780800,3000010050,163894,O6,195.0,...,1994,2015,1920,NaN,11201.0,M1-4/R8A,M3-1,NaN,NaN,12d
2,3.000010e+09,03/04/2016,1 JOHN STREET,7,389688,12347546,3000017501,102534,RM,0.0,...,0,0,0,NaN,11201.0,M3-1,NaN,NaN,NaN,12d
3,0.000000e+00,NaN,JAY STREET,7,0,0,3000030001,0,U4,0.0,...,0,0,0,NaN,11201.0,M3-1,NaN,NaN,NaN,12d
4,0.000000e+00,NaN,JAY STREET,7,22050,22050,3000030005,0,T2,0.0,...,0,0,0,NaN,11201.0,M3-1,NaN,NaN,NaN,12d

In [93]:
nycpluto.columns

Index(['APPBBL', 'APPDate', 'Address', 'AreaSource', 'AssessLand', 'AssessTot',
       'BBL', 'BldgArea', 'BldgClass', 'BldgDepth', 'BldgFront', 'Block',
       'BoroCode', 'Borough', 'BsmtCode', 'BuiltFAR', 'CB2010', 'CD', 'CT2010',
       'ComArea', 'CommFAR', 'CondoNo', 'Council', 'EDesigNum', 'Easements',
       'ExemptLand', 'ExemptTot', 'Ext', 'FIRM07_FLAG', 'FIRM07_Flag',
       'FacilFAR', 'FactryArea', 'FireComp', 'GarageArea', 'HealthArea',
       'HealthCenterDistrict', 'HistDist', 'IrrLotCode', 'LandUse', 'Landmark',
       'Lot', 'LotArea', 'LotDepth', 'LotFront', 'LotType', 'LtdHeight',
       'NumBldgs', 'NumFloors', 'OfficeArea', 'OtherArea', 'Overlay1',
       'Overlay2', 'OwnerName', 'OwnerType', 'PFIRM15_FLAG', 'PFIRM15_Flag',
       'PLUTOMapID', 'PolicePrct', 'ProxCode', 'ResArea', 'ResidFAR',
       'RetailArea', 'SPDist1', 'SPDist2', 'SPDist3', 'Sanborn', 'SanitBoro',
       'SanitDistrict', 'SanitSub', 'SchoolDist', 'SplitZone', 'StrgeArea',
       'TaxMap', 'Tract2010', 'UnitsRes', 'UnitsTotal', 'Version', 'XCoord',
       'YCoord', 'YearAlter1', 'YearAlter2', 'YearBuilt', 'ZMCode', 'ZipCode',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'ZoneMap'],
      dtype='object')

In [95]:
nycplutoR = nycpluto[['Address', 'AssessTot', 'BBL', 'BldgArea', 'BldgClass', 'Block', 'BoroCode',
                     'Borough', 'ComArea', 'CT2010', 'LandUse', 'PolicePrct', 'ResArea', 'RetailArea', 'Tract2010',
                     'UnitsRes', 'UnitsTotal', 'XCoord', 'YCoord', 'YearBuilt', 'ZipCode', 'ZoneDist1', 
                      'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'AssessLand', 'RetailArea']]

In [101]:
nycplutoR.describe()

,AssessTot,BBL,BldgArea,Block,BoroCode,ComArea,CT2010,LandUse,PolicePrct,ResArea,RetailArea,Tract2010,UnitsRes,UnitsTotal,XCoord,YCoord,YearBuilt,ZipCode,AssessLand,RetailArea
count,8.592120e+05,8.592120e+05,8.592120e+05,859212.000000,859212.000000,8.592120e+05,855138.000000,856354.000000,856260.000000,8.592120e+05,8.592120e+05,859212.000000,859212.000000,859212.000000,8.352560e+05,835256.000000,859212.000000,855058.000000,8.592120e+05,8.592120e+05
mean,4.604124e+05,3.516026e+09,6.383482e+03,5306.288540,3.462963,2.113895e+03,462.393758,2.140394,86.911674,4.038822e+03,3.216770e+02,9261.204569,4.138526,4.532098,1.006248e+06,191558.853887,1839.940852,11012.387996,1.138243e+05,3.216770e+02
std,1.119211e+07,1.031636e+09,6.016236e+04,3697.408748,1.023526,5.008945e+04,376.936395,2.391472,29.394690,3.083734e+04,5.797538e+03,26279.937183,34.175001,41.636907,3.231902e+04,30521.564447,432.108744,471.205294,5.790490e+06,5.797538e+03
min,0.000000e+00,1.000010e+09,0.000000e+00,0.000000,1.000000,0.000000e+00,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,9.131230e+05,120308.000000,0.000000,10001.000000,0.000000e+00,0.000000e+00
25%,2.370000e+04,3.031540e+09,1.372000e+03,2307.000000,3.000000,0.000000e+00,170.000000,1.000000,66.000000,1.194000e+03,0.000000e+00,207.000000,1.000000,1.000000,9.895890e+05,168268.000000,1920.000000,10466.000000,6.839000e+03,0.000000e+00
50%,3.122700e+04,4.008560e+09,2.000000e+03,4808.000000,4.000000,0.000000e+00,351.000000,1.000000,102.000000,1.645000e+03,0.000000e+00,484.000000,2.000000,2.000000,1.008786e+06,189230.000000,1930.000000,11221.000000,9.638000e+03,0.000000e+00
75%,4.801300e+04,4.106480e+09,3.000000e+03,7458.000000,4.000000,0.000000e+00,662.000000,2.000000,111.000000,2.400000e+03,0.000000e+00,1120.000000,2.000000,2.000000,1.029096e+06,210993.000000,1955.000000,11370.000000,1.465000e+04,0.000000e+00
max,6.957915e+09,5.080500e+09,2.400000e+07,16350.000000,5.000000,2.400000e+07,9901.000000,11.000000,123.000000,1.321140e+07,2.192088e+06,157903.000000,10914.000000,17369.000000,1.067279e+06,272275.000000,2040.000000,12345.000000,3.211276e+09,2.192088e+06

In [102]:
# removing some weird values in the year column
nycplutoR = nycplutoR[(nycplutoR['YearBuilt'] != 0) & (nycplutoR['YearBuilt'] < 2020)]

In [103]:
nycplutoR.describe()

,AssessTot,BBL,BldgArea,Block,BoroCode,ComArea,CT2010,LandUse,PolicePrct,ResArea,RetailArea,Tract2010,UnitsRes,UnitsTotal,XCoord,YCoord,YearBuilt,ZipCode,AssessLand,RetailArea
count,8.144850e+05,8.144850e+05,8.144850e+05,814485.000000,814485.000000,8.144850e+05,814364.000000,813800.000000,814438.000000,8.144850e+05,8.144850e+05,814485.000000,814485.000000,814485.000000,8.123690e+05,812369.000000,814485.000000,814386.000000,8.144850e+05,8.144850e+05
mean,4.580198e+05,3.514661e+09,6.645111e+03,5315.863528,3.461503,2.192996e+03,465.049250,1.738369,86.949655,4.208928e+03,3.349727e+02,9328.428477,4.292663,4.681742,1.006349e+06,191453.134998,1940.977696,11018.357899,9.859632e+04,3.349727e+02
std,1.036364e+07,1.022842e+09,6.136847e+04,3674.802214,1.014865,5.107637e+04,377.360944,1.574084,29.270113,3.149978e+04,5.935539e+03,26435.472901,34.083759,37.247223,3.244256e+04,30471.450981,29.334124,468.158986,3.996272e+06,5.935539e+03
min,0.000000e+00,1.000010e+09,0.000000e+00,1.000000,1.000000,0.000000e+00,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,9.131230e+05,120308.000000,1661.000000,10001.000000,0.000000e+00,0.000000e+00
25%,2.422400e+04,3.032710e+09,1.452000e+03,2332.000000,3.000000,0.000000e+00,170.050000,1.000000,66.000000,1.248000e+03,0.000000e+00,212.000000,1.000000,1.000000,9.895700e+05,168173.000000,1920.000000,10466.000000,6.979000e+03,0.000000e+00
50%,3.151800e+04,4.008560e+09,2.060000e+03,4858.000000,4.000000,0.000000e+00,357.000000,1.000000,102.000000,1.712000e+03,0.000000e+00,493.000000,2.000000,2.000000,1.008956e+06,189195.000000,1931.000000,11221.000000,9.657000e+03,0.000000e+00
75%,4.747500e+04,4.104830e+09,3.063000e+03,7475.000000,4.000000,0.000000e+00,664.000000,2.000000,111.000000,2.440000e+03,0.000000e+00,1122.000000,2.000000,2.000000,1.029419e+06,210835.000000,1960.000000,11370.000000,1.431500e+04,0.000000e+00
max,6.957915e+09,5.080500e+09,2.400000e+07,16350.000000,5.000000,2.400000e+07,9901.000000,11.000000,123.000000,1.321140e+07,2.192088e+06,157903.000000,10914.000000,10948.000000,1.067279e+06,272275.000000,2018.000000,12345.000000,3.211276e+09,2.192088e+06

In [104]:
# grouping by police precinct, taking the mean for each measure
plutoG = nycplutoR.groupby(by='PolicePrct').mean().reset_index()
plutoG.head()

,PolicePrct,AssessTot,BBL,BldgArea,Block,BoroCode,ComArea,CT2010,LandUse,ResArea,RetailArea,Tract2010,UnitsRes,UnitsTotal,XCoord,YCoord,YearBuilt,ZipCode,AssessLand,RetailArea
0,1.0,1.190570e+07,1.002658e+09,94743.371054,265.660515,1.0,64478.382710,38.754808,4.035627,27269.314716,4923.694998,855.139388,23.078679,29.415736,982556.869268,200879.421951,1924.033511,10019.672657,2.268154e+06,4923.694998
1,5.0,3.376511e+06,1.003352e+09,28434.901105,335.104130,1.0,17017.700989,29.857405,3.764843,10479.520070,2976.196044,212.358348,13.286795,17.085515,985351.276124,200909.593695,1916.448517,10010.103549,5.727944e+05,2976.196044
2,6.0,2.732794e+06,1.005935e+09,20872.264571,593.485341,1.0,7005.708230,69.987008,2.952617,12171.765454,1625.139173,112.308372,14.933592,16.703285,983677.283487,206698.124734,1912.255034,10012.331685,5.323052e+05,1625.139173
3,7.0,2.997527e+06,1.003390e+09,35335.396980,338.959008,1.0,7783.815534,16.787573,3.535135,26752.039914,1935.853290,1055.281553,29.700108,34.403452,987724.418478,200661.856522,1923.171521,10002.000000,6.263584e+05,1935.853290
4,9.0,2.246781e+06,1.004398e+09,20008.265812,439.709402,1.0,5458.884615,35.765966,3.089782,13733.865385,1674.253419,1070.077350,17.997009,19.547436,988404.095116,204093.272494,1916.402137,10006.571795,3.901254e+05,1674.253419

In [107]:
# reducing to columns of interest
plutoG2 = plutoG[['PolicePrct', 'AssessLand', 'AssessTot', 'ComArea', 'LandUse', 'ResArea', 'RetailArea', 
                  'UnitsRes', 'UnitsTotal', 'YearBuilt']]

In [109]:
plutoG2 = plutoG2.astype(int)

In [110]:
plutoG2.head()

,PolicePrct,AssessLand,AssessTot,ComArea,LandUse,ResArea,RetailArea,RetailArea,UnitsRes,UnitsTotal,YearBuilt
0,1,2268154,11905697,64478,4,27269,4923,4923,23,29,1924
1,5,572794,3376511,17017,3,10479,2976,2976,13,17,1916
2,6,532305,2732794,7005,2,12171,1625,1625,14,16,1912
3,7,626358,2997527,7783,3,26752,1935,1935,29,34,1923
4,9,390125,2246780,5458,3,13733,1674,1674,17,19,1916

In [111]:
# renaming column titles
plutoG2.rename(columns={'PolicePrct':'precinct', 'AssessTot':'assess_total_mean', 'AssessLand':'assess_land_mean',
                       'LandUse':'land_use_mean', 'ResArea':'res_area_mean', 'RetailArea':'retail_area_mean',
                        'UnitsRes':'units_res_mean', 'UnitsTotal':'units_total_mean', 'YearBuilt':'yearbuilt',
                       'ComArea':'comm_area_mean'}, inplace=True)

In [112]:
plutoG2.head()

,precinct,assess_land_mean,assess_total_mean,comm_area_mean,land_use_mean,res_area_mean,retail_area_mean,retail_area_mean,units_res_mean,units_total_mean,yearbuilt
0,1,2268154,11905697,64478,4,27269,4923,4923,23,29,1924
1,5,572794,3376511,17017,3,10479,2976,2976,13,17,1916
2,6,532305,2732794,7005,2,12171,1625,1625,14,16,1912
3,7,626358,2997527,7783,3,26752,1935,1935,29,34,1923
4,9,390125,2246780,5458,3,13733,1674,1674,17,19,1916

In [113]:
#plutoG2.to_csv('pluto.csv')