In [2]:
import pandas as pd
import pandas as pd
import geopandas as gp
import fiona
import shapely
from fiona.crs import from_epsg
import numpy as np
import choroplethNYC as cp
import matplotlib.pylab as plt

%matplotlib inline

In [3]:
#import precinct shapefile

url = 'https://data.cityofnewyork.us/api/geospatial/78dh-3ptz?method=export&format=Shapefile'
precinct = gp.GeoDataFrame.from_file(url)
precinct.head(2)

,precinct,shape_area,shape_leng,geometry
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...

##  ADJUSTED DAYTIME POPULATION MODEL

In [4]:
#import adjusted daytime population for 2013 (previously cleaned & aggregated)

day_pop = pd.read_csv('adjusted_day_MODEL_RESULTS.csv')
day_pop.head(3)

,Unnamed: 0,precinct,adjusted_day_precinct,day_proportion,MODEL_allocation
0,0,1.0,338683.341967,0.032632,653.0
1,1,5.0,117698.357234,0.011340,227.0
2,2,6.0,101853.963767,0.009814,196.0

In [5]:
day_pop = precinct.merge(day_pop, on='precinct')
day_pop.head()

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,adjusted_day_precinct,day_proportion,MODEL_allocation
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,338683.341967,0.032632,653.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,117698.357234,0.011340,227.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,101853.963767,0.009814,196.0
3,71.0,4.533179e+07,29978.094261,POLYGON ((-73.92854313809303 40.66457328584737...,58,108992.926986,0.010502,210.0
4,72.0,1.046213e+08,87968.194520,POLYGON ((-73.99840899113158 40.67186872303234...,59,169577.737348,0.016339,327.0

In [6]:
#add PAM layer and PAM math 
#add historically over-policed binary

In [7]:
#export

### GENTRIFICATION MODEL

In [8]:
gentrification = pd.read_csv('gentrification_model_results.csv')
gentrification.head(3)

,Unnamed: 0,precinct,city_14,gent_rate,total,model_rate,MODEL_allocation
0,0,1.0,0.007388,0.010913,0.018301,0.009171,183.0
1,1,5.0,0.022186,0.002592,0.024779,0.012417,248.0
2,2,6.0,0.009580,0.013990,0.023571,0.011811,236.0

In [9]:
gentrification = precinct.merge(gentrification, on='precinct')
gentrification.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,city_14,gent_rate,total,model_rate,MODEL_allocation
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,0.007388,0.010913,0.018301,0.009171,183.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,0.022186,0.002592,0.024779,0.012417,248.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,0.009580,0.013990,0.023571,0.011811,236.0

In [10]:
#MATH

In [11]:
#export

## VIOLENT CRIME MODEL

In [12]:
violent = pd.read_csv('violent_crime_MODEL.csv')
violent.head(3)

,Unnamed: 0,ARREST_PRECINCT,violent_arrests_09,violent_arrests_14,%change,MODEL_allocation_14
0,0,1,173,130,-0.248555,81.0
1,1,5,523,399,-0.237094,248.0
2,2,6,338,274,-0.189349,170.0

In [13]:
violent = precinct.merge(violent, left_on='precinct', right_on='ARREST_PRECINCT')
violent.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,ARREST_PRECINCT,violent_arrests_09,violent_arrests_14,%change,MODEL_allocation_14
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,1,173,130,-0.248555,81.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,5,523,399,-0.237094,248.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,6,338,274,-0.189349,170.0

## LAND AREA MODEL

In [14]:
land_area = pd.read_csv('area_model_results.csv')
land_area.head(3)

   Unnamed: 0  precinct  sq-km-calc
0           0       1.0  112.318729
1           1       5.0   42.960712
2           2       6.0   52.510118

In [15]:
land_area = precinct.merge(land_area, on='precinct')
land_area.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,sq-km-calc
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,112.318729
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,42.960712
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,52.510118

In [16]:
#math
#haven't computed allocation!!!

In [17]:
#export

## CALLS FOR SERVICE AND VIOLENT CRIME

In [18]:
cfs_vio = pd.read_csv('model_cfs_and_violent_crime.csv')
cfs_vio.head(3)

,Unnamed: 0,Precinct,total_calls_for_service,total_violent,total,share,officers
0,0,1,163950,165,164115,0.019832,397.0
1,1,5,80676,215,80891,0.009775,195.0
2,2,6,61731,295,62026,0.007495,150.0

In [19]:
cfs_vio = precinct.merge(cfs_vio, left_on='precinct', right_on='Precinct')
cfs_vio.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,Precinct,total_calls_for_service,total_violent,total,share,officers
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,1,163950,165,164115,0.019832,397.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,5,80676,215,80891,0.009775,195.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,6,61731,295,62026,0.007495,150.0

In [20]:
#math

In [21]:
#export

## ARRESTS AND VIOLATIONS

In [22]:
arrests_violations = pd.read_csv('model_arrests_and_violations.csv')
arrests_violations.head(3)

,Unnamed: 0,ADDR_PCT_CD,2017 VIOLATION,ARREST_PRECINCT,ARREST_KEY,total,share,officers
0,0,1,716.0,1,2792,3508.0,0.011205,224.0
1,1,10,446.0,10,1954,2400.0,0.007666,153.0
2,2,100,381.0,100,1552,1933.0,0.006174,123.0

In [23]:
arrests_violations = precinct.merge(arrests_violations, left_on='precinct', 
                                    right_on='ARREST_PRECINCT')
arrests_violations.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,ADDR_PCT_CD,2017 VIOLATION,ARREST_PRECINCT,ARREST_KEY,total,share,officers
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,1,716.0,1,2792,3508.0,0.011205,224.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,48,5,444.0,5,4570,5014.0,0.016015,320.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,51,6,389.0,6,2722,3111.0,0.009937,199.0

## CRASHES INJURIES DEATHS

In [24]:
crashes = pd.read_csv('model_crashes_injuries_deaths.csv')
crashes.head(3)

   Unnamed: 0  precinct  injuries2018  deaths2018  total     share  officers
0           0       1.0           596           2    598  0.010432     209.0
1           1       5.0           326           4    330  0.005757     115.0
2           2       6.0           242           1    243  0.004239      85.0

In [25]:
crashes= precinct.merge(crashes, on='precinct')
crashes.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,injuries2018,deaths2018,total,share,officers
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,596,2,598,0.010432,209.0
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,326,4,330,0.005757,115.0
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,242,1,243,0.004239,85.0

In [26]:
#math

In [27]:
#export

## PLUTO AND ACS DEMOGRAPHICS MODEL

In [28]:
pluto_acs = pd.read_csv('pluto_acs_allocations.csv')
pluto_acs.head(3)

,Unnamed: 0,precinct,total_vacant_pct,unemployment_rate,tot_units_pct,spanish_spking_pct,not_usborn_pct,non_white_pct,all_rates,total_share,allocation
0,0,1.0,0.009774,0.031308,0.798289,0.037603,0.019968,0.272752,1.169695,0.011033,220
1,1,5.0,0.017024,0.065273,0.577706,0.096776,0.032318,0.677157,1.466254,0.013831,276
2,2,6.0,0.052425,0.038583,0.792250,0.043142,0.020055,0.103691,1.050145,0.009906,198

In [33]:
pluto_acs = precinct.merge(pluto_acs, on='precinct')
pluto_acs.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,total_vacant_pct,unemployment_rate,tot_units_pct,spanish_spking_pct,not_usborn_pct,non_white_pct,all_rates,total_share,allocation
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,0.009774,0.031308,0.798289,0.037603,0.019968,0.272752,1.169695,0.011033,220
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,0.017024,0.065273,0.577706,0.096776,0.032318,0.677157,1.466254,0.013831,276
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,0.052425,0.038583,0.792250,0.043142,0.020055,0.103691,1.050145,0.009906,198

In [29]:
#math

In [30]:
#export

## POPULATION PLUS CRIME

In [34]:
pop_and_crime = pd.read_csv('pop_crime_allocations.csv')
pop_and_crime.head(3)

,Unnamed: 0,ADDR_PCT_CD,crime,population,median_fam_income,crime_pct,pop_pct,median_income_pct,all_rates,total_share,allocation
0,0,1,5935.0,75871,202088.076923,0.012960,0.008887,0.031171,0.053018,0.017673,353
1,1,10,3586.0,49476,153792.909091,0.007831,0.005795,0.023722,0.037348,0.012449,248
2,2,100,2684.0,52075,94526.166667,0.005861,0.006100,0.014580,0.026541,0.008847,176

In [35]:
pop_and_crime = precinct.merge(pop_and_crime, left_on='precinct', right_on='ADDR_PCT_CD')
pop_and_crime.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,ADDR_PCT_CD,crime,population,median_fam_income,crime_pct,pop_pct,median_income_pct,all_rates,total_share,allocation
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,1,5935.0,75871,202088.076923,0.012960,0.008887,0.031171,0.053018,0.017673,353
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,47,5,4198.0,50839,83063.454545,0.009167,0.005955,0.012812,0.027934,0.009311,186
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,50,6,4949.0,59687,203360.416667,0.010807,0.006991,0.031367,0.049165,0.016388,327

In [31]:
#math

In [32]:
#export

## RACE AND INCOME LAYER

In [36]:
race_and_income = pd.read_csv('pct_ppl_color_median_income.csv')
race_and_income.head(3)

   Unnamed: 0  precinct  median_fam_income  ppl_color_total_pct
0           0       1.0      202088.076923             0.217758
1           1       5.0       83063.454545             0.708000
2           2       6.0      203360.416667             0.122091

In [37]:
race_and_income['percent_ppl_of_color'] = np.round((race_and_income['ppl_color_total_pct'] *100),1)

In [39]:
race_and_income = precinct.merge(race_and_income, on='precinct')
race_and_income.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,median_fam_income,ppl_color_total_pct,percent_ppl_of_color
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,202088.076923,0.217758,21.8
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,83063.454545,0.708000,70.8
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,203360.416667,0.122091,12.2

## NO ARREST RATES, QUANTILES, and QOL ARRESTS PER CAPITA

In [42]:
overpoliced = pd.read_csv('notebooks/no_arrest_rates_and_qol_pc.csv')
overpoliced.head(3)

,Unnamed: 0,precinct,qol,vio,adjusted_day_precinct,percapita_day,2018_no_rate,2014_no_rate,2011_no_rate,no_arrest_quantile_2011,no_arrest_quantile_2014,no_arrest_quantile_2018
0,0,1.0,625,2020,338683.341967,18.453816,0.737374,0.875000,0.940706,5,5,5
1,1,5.0,434,5419,117698.357234,36.873922,0.747126,0.781818,0.880693,0,2,5
2,2,6.0,321,3684,101853.963767,31.515710,0.407767,0.887850,0.924848,3,6,0

In [43]:
overpoliced = precinct.merge(overpoliced, on='precinct')
overpoliced.head(3)

,precinct,shape_area,shape_leng,geometry,Unnamed: 0,qol,vio,adjusted_day_precinct,percapita_day,2018_no_rate,2014_no_rate,2011_no_rate,no_arrest_quantile_2011,no_arrest_quantile_2014,no_arrest_quantile_2018
0,1.0,4.730176e+07,80586.154615,(POLYGON ((-74.0438776157395 40.69018767637665...,0,625,2020,338683.341967,18.453816,0.737374,0.875000,0.940706,5,5,5
1,5.0,1.808880e+07,18676.124259,POLYGON ((-73.98863862848766 40.72293372026369...,1,434,5419,117698.357234,36.873922,0.747126,0.781818,0.880693,0,2,5
2,6.0,2.209819e+07,26402.900669,POLYGON ((-73.99968392160721 40.73855224865976...,2,321,3684,101853.963767,31.515710,0.407767,0.887850,0.924848,3,6,0